/* Para componentes bem pequenos */
.container-braven {
    background-image: url(../../img/braven.jpg);
    background-size: auto 100%;
    background-position: -300px 0;
    background-repeat: no-repeat;
    box-sizing: border-box; /*pq com os paddings ele fica com altura 100% mais o valor dos paddings e nós não queremos isso*/
    height: 100%;
    font-weight: bold;
    padding: var(--spacing-container-top) var(--spacing-container-right) var(--spacing-container-bottom) var(--spacing-container-left);
}