/* Para componentes bem pequenos */
.container-brave {
    background-image: url(../../img/braven.jpg);
    background-size: auto 100%;
    background-position: -300px 0;
    background-repeat: no-repeat;
    box-sizing: border-box; /*pq com os paddings ele fica com altura 100% mais o valor dos paddings e nós não queremos isso*/
    height: 100%;
    font-weight: bold;
    padding-top: 7.389vh; /* pega a fonte como altura da tela (view port height) - altura da janela. Nesse caso pega uma % da altura da janela 
                            Se a altura é 812 e queremos 60 px de distância, então 812-100 = 60-x*/
    
    padding-left: 9.6vw; /* pega a fonte como largura da tela (view port height) - largura da janela. Nesse caso pega uma % da largura da janela 
                            Se a altura é 375 e queremos 36 px de distância, então 375-100 = 36-x*/                            
    padding-right: 9.6vw;
    padding-bottom: 2.709vh;                            
}