.header-braven {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* > significa filho direto
    sempre escolhe a menor fonte e faz a proporção para ir ajustando todo layout */
.header-braven > .title {
    font-size: 1.176em; /* pega o pai como referência */
    text-transform: uppercase;
    letter-spacing: 1.2em; /* pega a fonte size do elemento como referência */
    color: var(--color-zero);
}